<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>While language parser</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="container">
      <div class="row" style="margin-top: 20px">
        <div class="col-sm-6">
        <h1>A parser for <em>While</em></h1>
        </div>
        <div class="col-sm-6 text-end">
        <p>Static Analysis of Programs and Constraint Solving<br>
        Master's Degree in Formal Methods in Computer Science<br>
        &copy;2021 Manuel Montenegro</p>
      </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
        <p>Enter the <em>While</em> program to be parsed and click the <em>Parse</em> button below:</p>
        </div>
        <div class="col-sm-12" style="margin-bottom: 10px;">
          <textarea class="code" placeholder="Enter your code here" id="sourceCode">
c := 10;
y := 1;
while 1 <= c do
  y := y * c;
  c := c - 1;
end;
res := y;
</textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <button type="button" class="btn-primary btn" id="parseButton">Parse whole program</button>
          <button type="button" class="btn-primary btn" id="cfgButton">Compute CFG of main program</button>
        </div>
      </div>


      <div class="card" style="margin-top:1em" id="result">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <pre class="pre-scrollable"><code id="resultCode"></code></pre>
        </div>
      </div>

      <div class="row" style="margin-top:1em">
        <div class="col-sm-12">
        <p>The syntax of While is described <a href="https://github.com/manuelmontenegro/while_parser/blob/master/Syntax.md">here</a>.</p>
        <p>If you access this application through API, please check <a href="https://github.com/manuelmontenegro/while_parser_api">while_parser_api</a> repository.
        <p>When computing a CFG, note that:</p>
        <ul>
          <li>Only the main program is translated into a CFG. Auxiliary function definitions are ignored.</li>
          <li>You can use only <tt>skip</tt> statements, assignments of the form <tt>x := e</tt>, <tt>if</tt> statements and <tt>while</tt> loops.</li>
        </ul>
        </div>
      </div>

    </div>
    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
